<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCadEO6lN4Z-8NNFbBpdzbdyTI5dRcwRAM</string>
	<key>GCM_SENDER_ID</key>
	<string>707034387204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storageFlow</string>
	<key>PROJECT_ID</key>
	<string>fluxoestoque</string>
	<key>STORAGE_BUCKET</key>
	<string>fluxoestoque.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707034387204:ios:c2ec0b1a23e5ac3ee27651</string>
</dict>
</plist>